In [17]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [18]:
data = pd.read_csv('/kaggle/input/recommendation-of-courses-for-students/train_M.csv')
data

       user_id  course_id
0        39972         34
1        56815         51
2        63734         20
3        17896         81
4        36961         64
...        ...        ...
10267    10520         10
10268    62231         40
10269   150361        148
10270     4182          7
10271   166173        145

[10272 rows x 2 columns]

In [19]:
data_course_id = data['course_id'].value_counts()
data_course_id

course_id
7      519
1      510
15     498
34     322
3      304
      ...
222      1
206      1
120      1
154      1
183      1
Name: count, Length: 171, dtype: int64

In [20]:
data_course_id.keys()

Index([  7,   1,  15,  34,   3,  51, 114, 108,  20,   8,
       ...
       224,  17, 147, 153,  26, 222, 206, 120, 154, 183],
      dtype='int64', name='course_id', length=171)

In [21]:
submit = pd.read_csv('/kaggle/input/recommendation-of-courses-for-students/sample_submission_M.csv')
submit

      user_id  course_id_1  course_id_2  course_id_3
0          78            0            0            0
1          81            0            0            0
2         120            0            0            0
3         123            0            0            0
4         150            0            0            0
...       ...          ...          ...          ...
2895   185864            0            0            0
2896   186262            0            0            0
2897   186691            0            0            0
2898   186887            0            0            0
2899   187206            0            0            0

[2900 rows x 4 columns]

In [24]:
for ind, user_id in enumerate(tqdm(submit['user_id'])):
    dt_user_id = data[data['user_id'] == user_id]['course_id'].tolist()
    point = 0
    for el in data_course_id.keys():
        if el not in dt_user_id:
            point += 1
            submit.loc[ind, f"course_id_{point}"] = el
        if point == 3:
            break
    if point < 3:
        for i in range(3):
            submit.loc[ind, f"course_id_{i + 1}"] = data_course_id.keys()[i]

100%|██████████| 2900/2900 [00:02<00:00, 1227.41it/s]

In [25]:
submit

      user_id  course_id_1  course_id_2  course_id_3
0          78            7            1           15
1          81            7           15            3
2         120            7           15           34
3         123            7            1           15
4         150            7            1           15
...       ...          ...          ...          ...
2895   185864            7            1           15
2896   186262            7            1           15
2897   186691            7            1           15
2898   186887            7            1           15
2899   187206            7            1           15

[2900 rows x 4 columns]

In [31]:
submit.to_csv('recommendation-of-courses.csv', index=False)